.advantages__wrapper {
  margin: 0 auto;
  max-width: 1220px;
  padding: 120px 0;

  @include vp-1023 {
    padding: 80px 0;
  }

  @include vp-767 {
    padding: 50px 0;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  max-width: 595px;
  padding: 40px 45px 35px;
  border: 1px solid $color-whisper;
  position: relative;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    background-color: $color-deep-sky-blue;
  }

  @include vp-1023 {
    min-height: 360px;
    padding: 40px 30px 35px 45px;
  }

  @include vp-767 {
    max-width: 100%;
    min-height: 340px;
    padding: 30px 30px 35px;
  }
}

.advantages__item svg {
  fill: $color-deep-sky-blue;
  display: block;
  margin-bottom: 20px;
}

.advantages__item h3 {
  margin: 0;
  font-family: $ff-roboto-condenced;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;
  margin-bottom: 15px;

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item p {
  line-height: 22px;
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;

  & svg {
    fill: $color-alice-blue;
  }

  & h3,
  & p {
    color: $color-alice-blue;
  }
}
