.custom-toggle {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  cursor: pointer;
  left: 13px;

  order: 2;

  max-width: 260px;

  &--callback {
    max-width: 100%;
    left: 9px;
  }

  @include vp-1023 {
    left: 0;
  }

  @include vp-767 {
    max-width: 100%;
    left: 5px;
  }

  input {
    appearance: none;
    margin: 0;
    width: 15px;
    height: 15px;
    border: 1px solid $color-default-white;
    border-radius: 3px;
    transition: border $trans-default;
    cursor: pointer;

    &::before {
      content: "";
      position: relative;
      display: block;
      width: 9px;
      height: 6px;
      top: 3px;
      left: 2px;
      background-image: url("../../img/svg/checkbox-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(0);
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  label {
    display: grid;
    grid-template-columns: 15px auto;
    gap: 10px;
    align-items: center;

    cursor: pointer;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &.is-invalid {
    input {
      border: 1px solid $color-torch-red;
    }
  }
}
