.services {
  background-color: $color-black-pearl;
}

.services__wrapper {
  position: relative;
  left: 9px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 65px 0 145px;

  @include vp-1023 {
    padding: 56px 0 75px;
    left: 0;
  }

  @include vp-767 {
    padding: 45px 0 86px;
  }
}

.services__title {
  font-family: $ff-roboto-condenced;
  font-weight: 400;
  color: $color-default-white;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-bottom: 50px;

  &--mobile {
    display: none;
  }

  @include vp-1023 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 30px;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(256px, 350px));
  gap: 85px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.services__item {
  position: relative;
  transition: transform $trans-default;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-top-left-radius: 3px;
    background-color: $color-deep-sky-blue;
    background-image: url("../../img/svg/services-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  @include hover-focus {
    transform: scale(1.01);
    box-shadow: 0 0 15px 5px rgba($color-default-white, 0.3);
  }
}

.services__item img {
  object-fit: cover;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    max-height: 250px;
  }
}

.services__item h3 {
  font-family: $ff-roboto-condenced;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 40px;

  @include vp-1023 {
    top: 37px;
    left: 45px;
  }

  @include vp-767 {
    top: 26px;
    left: 30px;
    font-size: 18px;
  }
}
